* {
  font-family: "Poppins", sans-serif;
}

:root {
  --blue-color: #2596EB;
  --black-color: rgb(3 7 18);
}

/* .about-page, .exp-page, .portfolio-page, .contact-page {
  padding-top: 5rem;
} */

/* Navbar Style */
.navbar-page .navbar {
  background-color: rgb(3 7 18);
  color: white;
  box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
}

.color-active {
  background-color: rgb(3 7 18);
  box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 25px 5px rgba(0, 0, 0, 0.75);
}

.navbar-page .navbar .nav-link a {
  text-decoration: none;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  gap: 5rem;
}
.navbar-page .navbar .nav-link a:hover {
  color: #000000;
}

/* Navbar Style */

/* HomePage Style */
.home-page {
  background-color: rgb(3 7 18);
  color: white;
  padding-top: 6rem;
}

.home-page h4 {
  animation-duration: 1s;
}
.home-page h1 {
  animation-delay: 1s;
}
.home-page h3 {
  animation-delay: 1.5s;
}
.home-page p {
  animation-delay: 2s;
}

.detik-1 {
  animation-delay: 2.5s;
}
.detik-2 {
  animation-delay: 2.7s;
}
.detik-3 {
  animation-delay: 2.9s;
}

.home-page .buttons button {
  animation-delay: 3.1s;
}

.home-page img {
  /* animation-delay: 3s; */
  animation-duration: 3s;
}

.home-page .row:nth-child(1) .col:nth-child(1) {
  padding-top: 4rem;
}

.home-page .row:nth-child(1) .col:nth-child(2) img {
  width: 600px;
}

.social-icons a {
  /* display: flex; */
  padding: 5px;
  gap: 1rem;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  text-decoration: none;
  color: white;
}
.social-icons a:hover {
  color: var(--blue-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-page .buttons {
  padding-top: 3rem;
}

.home-page button {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--blue-color);
  color: white;
}
.home-page button:hover {
  background-color: rgb(3 7 18);
  color: white;
  border: 1px solid white;
}

.home-page button a {
  text-decoration: none;
  color: white;
}
/* HomePage Style */

/* About Style */
.about-page {
  background-color: white;
  padding-top: 10rem;
  margin-top: 8rem;
  /* padding-bottom: 6rem; */
}

.about-page .row:nth-child(3) .col:nth-child(1) h2 {
  padding-top: 3rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.cards .card-icon {
  text-align: center;
  padding: 1rem;
}

.cards .card-body .card-text {
  font-size: 12px;
}
/* About Style */

/* Experiences Style  */
.exp-page {
  padding-top: 10rem;
  margin-top: 8rem;
}

.exp-page .row:nth-child(2) h5 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 0;
}

.exp-page .accordions .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}
/* Experiences Style  */

/* Portfolio Style */
.portfolio-page {
  padding-top: 10rem;
  margin-top: 8rem;
  /* padding-top: 7rem; */
  /* padding-bottom: 3rem; */
}

.cards-porto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cards-porto .card .card-body {
  padding: 1rem;
  transition: all 0.5s ease;
}

/* .cards-porto:hover {
  border: 1px solid black;
  border-radius: 1rem;
} */

.portfolio-page .row:nth-child(3) .col:nth-child(1) button a {
  background-color: rgb(3 7 18);
  color: #fff;
  padding: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
}
.portfolio-page .row:nth-child(3) .col:nth-child(1) button a:hover {
  color: #c0c0c0;
  background-color: rgb(0, 0, 0);
}
/* Portfolio Style */

/* Contact Style */
.contact-page {
  padding-top: 10rem;
  margin-top: 5rem;
  /* padding-top: 8rem; */
  /* padding-bottom: 8rem; */
}

.contact-form {
  /* padding: 2rem;
  padding-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem; */
  box-shadow: none;
}

.contact-form form input {
  box-shadow: none;
}

.contact-page .row:nth-child(2) .col:nth-child(2) {
  padding-left: 7rem;
}

.phone p a {
  text-decoration: none;
  color: black;
}
.emails p a {
  text-decoration: none;
  color: black;
}
.phone p a:hover {
  text-decoration: none;
  color: rgb(177, 177, 177);
}
.emails p a:hover {
  text-decoration: none;
  color: rgb(177, 177, 177);
}

.contact-page button {
  background-color: var(--blue-color);
  color: white;
}
.contact-page button:hover {
  background-color: #1e79be;
  color: rgb(207, 207, 207);
}

.contact-info .address{
  padding-bottom: 1rem;
}
.contact-info .phone{
  padding-bottom: 1rem;
}
.contact-info .emails{
  padding-bottom: 1rem;
}

.message-response {
  padding-bottom: 10rem;
}
/* Contact Style */

/* Footer Style */
footer {
  background-color: rgb(3 7 18);
  padding-top: 5rem;
  padding: 2rem;
  margin-top: 5rem;
}
/* Footer Style */