* {
  /* overflow: overlay; */
  font-family: "Poppins", sans-serif;
}

:root {
  --blue-color: #2596eb;
  --dark-blue: #1e79be;
  --gray-color: #dbdbdb;
  --black-color: rgb(3 7 18);
}

/* Navbar Style */
.navbar {
  background: #38b6ff;
  color: white;
}

.color-active {
  /* background-color: var(--blue-color); */
  transition: all 0.5s ease;
  color: white;
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
}

.navbar .navbar-brand {
  color: white;
}

.navbar .nav-link a {
  text-decoration: none;
  color: white;
  padding: 10px;
  gap: 5rem;
}
.navbar .nav-link a:hover {
  color: #8a8a8a;
}

.navbar .nav-link .active {
  background-color: var(--blue-color);
  color: white;
  border-radius: 5px;
}

.navbar .nav-link .active:hover {
  background-color: #1f7ec7;
  color: rgb(165, 165, 165);
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 996px) {
  /* .navbar-toggler {
    display: flex;
    flex-wrap: wrap;
  } */
}

@media screen and (max-width: 575px) {
  .color-active {
    background-color: white;
  }
}
/* Navbar Style */

/* HomePage Style */
.home-page {
  background: linear-gradient(to top, #1f242b 25%, #38b6ff);
  color: white;
  padding-top: 2rem;
}

.home-page h4 {
  animation-duration: 1s;
}
.home-page h1 {
  animation-delay: 1s;
}
.home-page h3 {
  animation-delay: 1.5s;
}
.home-page p {
  animation-delay: 2s;
}

.detik-1 {
  animation-delay: 2.5s;
}
.detik-2 {
  animation-delay: 2.7s;
}
.detik-3 {
  animation-delay: 2.9s;
}

.home-page .buttons button {
  animation-delay: 3.1s;
}

.home-page img {
  /* animation-delay: 3s; */
  animation-duration: 3s;
}

.home-page .row:nth-child(1) .col:nth-child(1) {
  padding-top: 4rem;
}

.home-page .row:nth-child(1) .col:nth-child(2) img {
  width: 600px;
}

.social-icons a {
  /* display: flex; */
  padding: 5px;
  gap: 1rem;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  text-decoration: none;
  color: white;
}
.social-icons a:hover {
  color: var(--blue-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-page .buttons {
  padding-top: 3rem;
}

.home-page button {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid white;
  color: white;
}
.home-page button:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  background-color: white;
  color: black;
}

@media screen and (max-width: 992px) {
  .home-page {
    width: 100%;
  }
  .home-page .row:nth-child(1) .col:nth-child(1) button {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .home-page .row:nth-child(1) .col:nth-child(1) button {
    text-align: center;
  }
  .home-page .row:nth-child(1) .col:nth-child(2) img {
    width: 24rem;
  }
}
/* HomePage Style */

/* About Style */
.about-page {
  background: linear-gradient(to bottom, #1f242b 25%, #38b6ff);
  padding-top: 25rem;
  color: white;
  padding-bottom: 5rem;
}

.about-page .row:nth-child(1) .col:nth-child(1) h1 {
  padding-top: 5rem;
}

.about-page .row:nth-child(3) .col:nth-child(1) h2 {
  padding-top: 3rem;
}

.about-img {
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 0;
  /* margin: auto; */
}

.btn_readMoreLess {
  padding: 8px 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
}
.btn_readMoreLess:hover {
  color: black;
  background-color: white;
  transition: all 0.3s ease;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.cards:hover {
  cursor: grab;
}

.cards .card-icon {
  text-align: center;
  padding: 1rem;
}

.cards .card-body .card-text {
  font-size: 12px;
}

.tools li {
  list-style-type: none;
}

.icon-tools {
  width: 100px;
}

.btn_techStack {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2rem;
  color: white;
}
.btn_techStack:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.loading-spinner {
  margin-top: 8rem;
  margin-left: 34rem;
  margin-bottom: 50rem;
}

@media screen and (max-width: 996px) {
  .about-img {
    display: none;
  }

  .btn_readMoreLess {
    margin-left: 15rem;
  }

  .icon-tools {
    width: 75px;
  }

  .loading-spinner {
    margin-top: 8rem;
    margin-left: 9.4rem;
    margin-bottom: 50rem;
  }
}

@media screen and (max-width: 576px) {
  .about-page .row:nth-child(4) .col:nth-child(4) .cards .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* About Style */

/* Experiences Style  */
.exp-page {
  padding-bottom: 5rem;
}

.exp-page h1 {
  padding-top: 2rem;
  color: white;
}

.exp-page .row:nth-child(2) h5 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 0;
}

.exp-page .accordions .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.exp-page .accordion .accordion-header .accordion-button {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

/* Experiences Style  */

/* Portfolio Style */
.portfolio-page {
  background: linear-gradient(to top, #1f242b 25%, #38b6ff);
  padding-bottom: 5rem;
}

.portfolio-page h1 {
  padding-top: 5rem;
  color: white;
}

.cards-porto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cards-porto .cards_item:hover {
  background-color: white;
}

.cards-porto .card .card-body {
  padding: 4rem;
  transition: all 0.5s ease;
}

.btn_card_porto a {
  color: white;
}
.btn_card_porto a:hover {
  color: rgb(182, 182, 182);
}

.btn_porto {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 1rem;
  border-radius: 2rem;
}
.btn_porto:hover {
  background: white;
  color: black;
  transition: all 0.2s ease-in-out;
}

.portfolio-page .row:nth-child(3) .col:nth-child(1) button a {
  color: white;
  padding: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
}
.portfolio-page .row:nth-child(3) .col:nth-child(1) button a:hover {
  color: black;
  transition: all 0.2s ease-in-out;
}
/* Portfolio Style */

/* Contact Style */
.contact-page {
  background: #1f242b;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: white;
}

.contact-form {
  box-shadow: none;
}

.contact-form form input {
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.contact-form form textarea {
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.contact-page .row:nth-child(2) .col:nth-child(2) {
  padding-left: 7rem;
}

.phone p a {
  text-decoration: none;
  color: white;
}
.emails p a {
  text-decoration: none;
  color: white;
}
.phone p a:hover {
  text-decoration: none;
  color: var(--blue-color);
  transition: all 0.3s ease-in-out;
}
.emails p a:hover {
  text-decoration: none;
  color: var(--blue-color);
  transition: all 0.3s ease-in-out;
}

.contact-page button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2rem;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}
.contact-page button:hover {
  background-color: var(--dark-blue);
  color: rgb(207, 207, 207);
}

.contact-info .address {
  padding-bottom: 1rem;
}
.contact-info .phone {
  padding-bottom: 1rem;
}
.contact-info .emails {
  padding-bottom: 1rem;
}

.message-response {
  padding-bottom: 10rem;
}

@media screen and (max-width: 996px) {
  .contact-page .row {
    display: grid;
  }
  .contact-page .row:nth-child(2) .col:nth-child(2) {
    padding-left: 1rem;
    padding-top: 3rem;
  }

  .message-response .message-text {
    padding-top: 12rem;
  }
}
/* Contact Style */

/* Footer Style */
footer {
  background: #1f242b;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

footer p a {
  color: white;
}
/* Footer Style */
